@inherits GCDialogBase

<GCModal @ref="GCModalRef" @ref:suppressField>

    <div class="gc-dialog-outer-div" style="@GetSizeStyles()">

        <div class="gc-dialog-inner-div">

            <div class="gc-dialog-popup-titlebar">
                <span class="gc-dialog-popup-titlebar-text">
                    @DialogTitle
                </span>
            </div>

            <div class="gc-dialog-child-div">
                @ChildContent
            </div>

            <div style="display : flex; flex-direction : row; margin : 0.25em; width : 100%; box-sizing: border-box; justify-content : center;">
                @if ((ButtonSelection == ButtonStyles.OK) || (ButtonSelection == ButtonStyles.OKCancel)) {
                    <GCButton ButtonId="@GCButton.kStdId_OK" ButtonText="OK" OnClickAction="OnClickComplete" />
                }

                @if (ButtonSelection == ButtonStyles.YesNo) {
                    <GCButton ButtonId="@GCButton.kStdId_Yes" ButtonText="Yes" OnClickAction="OnClickComplete" />
                }

                <!-- We'll generate custom buttons here, if we have any -->
                @if (CustButtons != null)
                { 
                    foreach (KeyValuePair<string, string> custButt in CustButtons)
                    {
                        <GCButton ButtonId="@custButt.Key" ButtonText="@custButt.Value" OnClickAction="OnClickComplete" />
                    }
                }

                @if (ButtonSelection == ButtonStyles.OKCancel) {
                    <GCButton ButtonId="@GCButton.kStdId_Cancel" ButtonText="Cancel" OnClickAction="OnClickComplete" />
                }

                @if (ButtonSelection == ButtonStyles.YesNo) {
                    <GCButton ButtonId="@GCButton.kStdId_No" ButtonText="No" OnClickAction="OnClickComplete" />
                }
            </div>
        </div>
    </div>

</GCModal>
